<div class="grid container">
  <div class="row">
    <div class="column">
      <% if(error && error.length>0){ %> 
        <div class="alert alert-danger" role="alert">
          <%=error%> 
        </div>
      <% } else if(success && success.length>0){ %> 
        <div class="alert alert-success" role="alert">
          <%=success%> 
        </div>
      <% } else if(warning && warning.length>0){%> 
        <div class="alert alert-warning" role="alert">
          <%=warning%> 
        </div>
      <% }%> 
    </div>
  </div>
</div>