<%- include("../partials/header") %>
<nav class="ui pointing menu">
  <a href="/" class="item">
    Home
  </a>
  <a href="/patients" class="item">
    Patients
  </a>
  <a href="/patients/new" class="active item">
    New
  </a>
  <div class="right menu">
    <% if(currentUser){ %>
      <a href="/logout" class="item">
        Logout
      </a>
      <a href="/patients" class="item"><%=currentUser.username%> </a>
      <% } else{%>
      <a href="/login" class="item">
        Login
      </a>
      <a href="/register" class="item">
        Sign Up
      </a>
      <% } %>
  </div>
</nav>
<div class="center-content">
  <div class="ui center aligned placeholder segment">
    <h1>Create A New Patient</h1>
    <div class="ui form">
      <form action="/patients" method="post">
        <div class="middle">
          <div class="fields">
            <div class="field">
              <label>First Name</label>
              <input type="text" name="patient[firstName]" placeholder="first name">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input type="text" name="patient[lastName]" placeholder="last name">
            </div>
            <div class="field">
              <label>Age</label>
              <input type="number" name="patient[age]" placeholder="age">
            </div>
            <div class="field">
              <label>Gender</label>
              <select name="patient[gender]" >
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>
          <div class="fields">
            <div class="field">
              <label>uhid</label>
              <input type="text" name="patient[uhid]" placeholder="uhid">
            </div>
            <div class="field">
              <label>category</label>
              <input type="text" name="patient[category]" placeholder="category">
            </div>
            <div class="field">
              <label>sub category 1</label>
              <input type="text" name="patient[subCategory1]" placeholder="sub category 1">
            </div>
            <div class="field">
              <label>sub category 2</label>
              <input type="text" name="patient[subCategory2]" placeholder="sub category 2">
            </div>
          </div>
        </div>
        <button class="ui primary button">Create Patient</button>
      </form>
    </div>
  </div>
  <%-include("../partials/footer") %>